<header>
  <div>
    <a href="/" title="back to home" class="logo-link">
      <img src="/swiss-assets/img/logo-CH.svg" alt="Logo" class="header-logo" />
      <p class="app-name">LINDAS - Linked Data Service</p>
    </a>
  </div>
  <nav class="header-links">
    <ul class="header-links-menu">
      <li><a href="/">Homepage</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <ul class="header-links-languages">
      <li>
        <a href="?lang=de" lang="de" title="German" aria-label="German">DE</a>
      </li>
      <li>
        <a href="?lang=fr" lang="fr" title="French" aria-label="French">FR</a>
      </li>
      <li>
        <a href="?lang=it" lang="it" title="Italian" aria-label="Italian">IT</a>
      </li>
      <li>
        <a
          href="?lang=en"
          lang="en"
          title="English"
          aria-label="English"
          class="active"
        >EN</a>
      </li>
    </ul>
  </nav>
</header>

<nav class="trifid-main-navigation">
  <ul>
    <li><a href="/" class="active">About LINDAS</a></li>
    <li><a href="/datasets/">Datacatalog</a></li>
    <li><a href="/sparql/">Query Data</a></li>
    <li><a href="/publish/">Publish Data</a></li>
  </ul>
</nav>
