<header>
  <a href="/" title="back to home" class="logo-link">
    <img src="/swiss-assets/img/logo-CH.svg" alt="Logo" class="header-logo" />
    <p class="app-name">LINDAS - Linked Data Service</p>
  </a>
</header>
