<header>
  <div>
    <a href="/" title="back to home" class="logo-link">
      <img src="/swiss-assets/img/logo-CH.svg" alt="Logo" class="header-logo" />
      <p class="app-name">LINDAS - Linked Data Service</p>
    </a>
  </div>
  <nav class="header-links">
    <ul class="header-links-menu">
      <li><a href="/">Homepage</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <ul class="header-links-languages">
      <li>
        <a
          href="?lang=de"
          lang="de"
          title="German"
          aria-label="German"
          {{#ifEquals locals.currentLanguage "de"}}class="active"{{/ifEquals}}
        >DE</a>
      </li>
      <li>
        <a
          href="?lang=fr"
          lang="fr"
          title="French"
          aria-label="French"
          {{#ifEquals locals.currentLanguage "fr"}}class="active"{{/ifEquals}}
        >FR</a>
      </li>
      <li>
        <a
          href="?lang=it"
          lang="it"
          title="Italian"
          aria-label="Italian"
          {{#ifEquals locals.currentLanguage "it"}}class="active"{{/ifEquals}}
        >IT</a>
      </li>
      <li>
        <a
          href="?lang=en"
          lang="en"
          title="English"
          aria-label="English"
          {{#ifEquals locals.currentLanguage "en"}}class="active"{{/ifEquals}}
        >EN</a>
      </li>
    </ul>
  </nav>
</header>

<nav class="trifid-main-navigation">
  <ul>
    {{#each locals.menu.header}}
    <li>
      <a
        href="{{ this.path }}"
        {{#ifEquals ../locals.currentPath this.path}}class="active"{{/ifEquals}}
      >{{ this.title }}</a>
    </li>
    {{/each}}
  </ul>
</nav>
