<header>
  <div>
    <a href="/" title="back to home" class="logo-link">
      <img src="/swiss-assets/img/logo-CH.svg" alt="Logo" class="header-logo" />
      <p class="app-name">LINDAS - Linked Data Service</p>
    </a>
  </div>
  <nav class="header-links">
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <ul>
      <li>
        <a href="?lang=de" lang="de" title="German" aria-label="German">DE</a>
      </li>
      <li>
        <a href="?lang=fr" lang="fr" title="French" aria-label="French">FR</a>
      </li>
      <li>
        <a href="?lang=it" lang="it" title="Italian" aria-label="Italian">IT</a>
      </li>
      <li>
        <a href="?lang=en" lang="en" title="English" aria-label="English">EN</a>
      </li>
    </ul>
  </nav>
</header>
