<div class="trifid-content">
  <div class="container">
    <style type="text/css">
      @import url("/static-assets/entity.css");
    </style>
    <div class="trifid-entity-renderer">
      {{{dataset}}}
    </div>
  </div>
</div>
