<div class="trifid-content">

  {{> infos}}

  {{ i18n "welcome" }}

  <div class="container">
    {{{ locals.content-plugin.lindas.about-lindas }}}
    {{{ locals.content-plugin.lindas.linked-data }}}
  </div>
</div>
